.App {
  text-align: center;
}

@media (max-width: 600px) {
  .App-header {
    padding: 4px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  display: inline-block;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 8vw;
  height: 8vw;
  min-width: 8px;
  min-height: 8px;
  max-width: 96px;
  max-height: 96px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bbb;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  cursor: pointer;
  color: #222;
}

.board-cell.revealed {
  background: #90caf9;
  cursor: default;
}

.board-cell.number {
  background: #eee;
}

.board-cell:not(:empty) {
  background: #eee;
}
